[submodule "vcpkg"]
	path = vcpkg
	url = ../../microsoft/vcpkg.git
	
[submodule "qtmediate"]
	path = libs/qtmediate
	url = ../../SineStriker/qtmediate.git

[submodule "choruskit"]
	path = libs/choruskit
	url = ../../SineStriker/choruskit.git

[submodule "talcs"]
	path = libs/talcs
	url = ../../CrSjimo/talcs.git
[submodule "libs/stimmt"]
	path = libs/stimmt
	url = git@github.com:CrSjimo/stimmt
