[submodule "vcpkg"]
	path = vcpkg
	url = ../../microsoft/vcpkg.git
	
[submodule "qtmediate"]
	path = libs/qtmediate
	url = ../../SineStriker/qtmediate

[submodule "choruskit"]
	path = libs/choruskit
	url = ../../SineStriker/choruskit