[submodule "choruskit"]
	path = libs/choruskit
	url = ../../SineStriker/choruskit.git

[submodule "talcs"]
	path = libs/talcs
	url = ../../CrSjimo/talcs.git

[submodule "stimmt"]
	path = libs/stimmt
	url = ../../CrSjimo/stimmt.git

[submodule "qtmediate"]
	path = libs/qtmediate
	url = ../../stdware/qtmediate.git

[submodule "opendspx"]
	path = libs/opendspx
	url = ../../diffscope/opendspx.git

[submodule "svscraft"]
	path = libs/svscraft
	url = ../../diffscope/svscraft.git

[submodule "vcpkg-overlay"]
	path = scripts/vcpkg
	url = ../../stdware/vcpkg-overlay.git

[submodule "substate"]
	path = libs/substate
	url = ../../stdware/substate.git

[submodule "jetbrains-docking-system"]
	path = libs/jetbrains-docking-system
	url = ../../stdware/jetbrains-docking-system.git
